/*body, head, div, form, input, h1 {
  margin: 0;
  border: 0;
  padding: 0;
}*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-image: url(https://s-media-cache-ak0.pinimg.com/236x/9e/56/ce/9e56ce2e40422321cf7f9c3e24b048a6.jpg);
}
form input[type=text] {
  width: 500px;
  height: 30px;
  font-size: 16px;
  display: block;
  margin: 200px auto;
  border: 3px solid orange;
}
form input[type=submit]{
  display: block;
  margin: 0 auto;
  width: 80px;
  font-size: 16px;
  font-family: 'Open Sans';
}
h1 {
  text-align: center;
  font-family: 'Verdana';
  color: #659CEF;
  font-size: 55px;
  padding: 0;
  margin: 25px;
  border: 0;
}
h2 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
}
.maincontroller {
  background-color: #e9e9e9;
  opacity: .5;
  height: 260px;
}
